@font-face {
    font-family: norseFont;
    src: url(Norse-Bold.otf);
}

body {
    font-size: large;
}

img,
.logo-text {
    width: 30vw;
    height: 100vh;
    position: absolute;

    left: 20vw;
}
img {
    z-index: -1;
}
.logo-text {
    background-color: rgba(0,0,0,0.3);
    height: 100px;
    line-height: 100px;
    top: 30vh;
    font-family: norseFont;
    text-align: center;
    font-size: 80px;
    color: white;
}

label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --info-panel: 500px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: absolute;
    background-color: white;
    justify-content: center;
    width: var(--info-panel);
    left: 50vw;
    top: 40vh;
    padding-left: 40px;
}
.info-panel {
    display: flex;
    flex-direction: column;
    width: var(--info-panel);
    align-items: center;
    gap: 30px;
}
form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: var(--info-panel);
    height: 180px;
    align-items: center;
    overflow: hidden;
    align-content: space-between;
    gap: 10px 20px;
    box-shadow: 0px 5px 5px lightgray;
    padding: 40px;

}

li {
    list-style: none;
}
.form-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-in {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: var(--info-panel);

}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(131, 186, 202);
    box-shadow: 1px 1px 5px rgb(131, 186, 202);
}

label {
    text-transform: uppercase;
}

input {
    border: 2px solid rgb(209, 204, 204);
    border-radius: 4px;

}

button:hover {
    box-shadow: 0px 0px 10px rgb(131, 186, 202);
}

button {
    background-color: #96929F;
    width: 200px;
    height: 50px;
    font-family: norseFont;
    font-size: 30px;
    border-width: 0px;
    border-radius: 4px;
    border-style: solid;
    outline: none;
}